.products-card{
    width:20%;
    height:95%;
    border-radius:10px;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.products-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.products-card-top{
    width:100%;
    height:70%;
}
.products-card-image{
    width:100%;
    height:100%;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
.products-card-top-info{
    width:100%;
    height:100%;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.products-card-bottom{
    width:98%;
    height:30%;
    display: flex;
    flex-direction: column;
}
.product-card-bottom-title{
    width:100%;
    height:50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.product-card-bottom-price-cart{
    width:100%;
    height:50%;
    display: flex;
    justify-content: space-around;
}
.products-card-bottom-price
{
    width:40%;
    height:68%;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.products-card-bottom-cart{
    width:50%;
    height:96%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: grey;
    color:white;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
@keyframes cartChange{
    from{
        background-color: grey;
        color:white;
    }
    to{
        background-color: orange;
        color:black;
    }
}
.products-card-bottom-cart:hover{
    animation-name: cartChange;
    animation-duration: 0.5s;
    background-color: orange;
    color:black;
}



