.cart-outer{
    width:100%;
    height:85vh;
    
}
.gap-filler{
    width:100%;
    height:15vh;
}
.cart-upper{
    width:100%;
    height:90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart-left{
    width:70%;
    height:90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.cart-card{
    width:95%;
    height:8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart-card:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.cart-card-image-out{
    width:20%;
    height:90%;
}
.cart-card-image{
    width:100%;
    height:100%;
}
.cart-card-title{
    width:30%;
    height:90%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-card-price{
    width:20%;
    height:50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-card-reviews{
    width:10%;
    height:50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}












.cart-right
{
    width:25%;
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cart-right-total-heading{
    width:100%;
    height:8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-right-total{
    width:100%;
    height:8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-right-total-amount{
    width:100%;
    height:8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cart-right-checkout{
    width:100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    background-color: grey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes checkoutChange{
    from{
        background-color: grey;
        color:white;
    }
    to{
        background-color: orange;
        color:black;
    }
}
.cart-right-checkout:hover{
    animation-name: checkoutChange;
    animation-duration: 0.5s;
    background-color: orange;
    color:black;
}

.cart-right-ads{
    width:100%;
    height:35%;
    border-radius: 20px;
    cursor: pointer;
}
.cart-right-ads-image{
    width:100%;
    height:100%;
    border-radius: 20px;
}
.cart-right-ads-image:hover{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



.cart-bottom{
    width:70%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-empty-button{
    width:20%;
    height:90%;
    border-radius: 10px;
    font-weight:500 ;
    font-size: 20px;
    background-color: grey;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@keyframes emptyChange{
    from{
        background-color: grey;
        color:white;
    }
    to{
        background-color: orange;
        color:black;
    }
}
.cart-empty-button:hover{
    animation-name: emptyChange;
    animation-duration: 0.5s;
    background-color: orange;
    color:black;
}
