.outer-navbar{
    width:100%;
    height:6rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 100;
}

.navbar-left{
    width:30%;
    height:100%;
    border-bottom-left-radius:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar-left-logo{
    width:20%;
    height:80%;
    border-radius: 50%;
}
.navbar-left-logo-image{
    width:100%;
    height:100%;
    border-radius: 50%;
}



.navbar-left-home{
    width:15%;
    height:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-left-home:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-left-cart{
    width:15%;
    height:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-left-cart:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-left-about{
    width:15%;
    height:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-left-about:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}





.navbar-right{
    width:30%;
    height:100%;
    border-bottom-right-radius:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-right-search{
    width:50%;
    height:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-right-search-field{
    width:85%;
    height:90%;
    border:none;
    border-bottom:1px solid grey;
    font-size: 15px;
    font-weight: 500;
    outline:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-right-search-button{
    width:15%;
    height:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-right-search-button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-right-profile{
    width:15%;
    height:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-right-profile:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
